*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  letter-spacing: 0.09rem;
  font-weight: 500;
}

a:hover {
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 7vh;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0.2rem 0.2rem 0.4rem #dfdfdf;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: black;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 1.5rem;
    z-index: 21;
  }
  a {
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    margin-right: 3rem;
    color: white;
  }

  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 100vw;
    background: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.3s ease-in;
    gap: 5rem;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
  z-index: 100;
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.activeLink {
  color: #388def;
}

.disableBtn {
  display: none;
}

.loginNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 5rem;
}
