body {
  margin: 0;
  background-color: white;
  font-family: "Libre Baskerville", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: "Poppins", sans-serif;
}
